---
import Layout from '../../layouts/Layout.astro';
import {fetchProduct} from "../../lib/db";
import {
  type ProductSectionDto,
} from "../../domain/ProductSectionDto";
import ProductAction from "../../components/product/ProductAction";

const { slug } = Astro.params;

const product = await fetchProduct(slug!);
const sections = JSON.parse(product.data) as ProductSectionDto[]
---

<Layout title="Courses">
  <h1>{product.name}</h1>
  <h2>${product.price}</h2>

  <ProductAction id={product.id} price={product.price} client:load />

  <p>{product.description}</p>

  {sections.map(section => (
    <section>
      <h2>{section.title}</h2>
      <p>{section.description}</p>
    </section>
  ))}
</Layout>